name: Flutter CI - Integration Tests Cusco 360

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  integration-test:
    runs-on: macos-latest
    timeout-minutes: 45

    steps:
      - name: Checkout código
        uses: actions/checkout@v4
        
      - name: Configurar Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
          
      - name: Configurar Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.3'
          channel: 'stable'
          
      - name: Instalar dependencias
        run: flutter pub get
        
      - name: Ejecutar pruebas de integración
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 31
          target: google_apis
          arch: x86_64
          profile: Nexus 6
          script: flutter test integration_test/festivities_test.dart