name: Flutter Integration Tests

on:
  push:
    branches: [ main ]
  pull_request:


jobs:
  integration-test:
    runs-on: macos-latest  # IMPORTANTE: ubuntu NO soporta emulador

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.38.3"

      - name: Install dependencies
        run: flutter pub get

      - name: Start Android emulator
        uses: ReactiveCircus/android-emulator-runner@v2
        with:
          api-level: 33
          arch: arm64-v8a
          target: google_apis
          profile: Pixel_6
          script: flutter test integration_test/festivities_test.dart
