name: Flutter CI - Integration Tests Cusco 360

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  android-integration-test:
    runs-on: macos-latest
    timeout-minutes: 25

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.3'
          channel: 'stable'

      - name: Instalar dependencias
        run: flutter pub get

      - name: Ejecutar Test en Emulador
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 31
          target: google_apis
          arch: arm64-v8a
          profile: Nexus 6
          disable-animations: true
          script: flutter test integration_test/festivities_test.dart