name: Flutter Integration Tests

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  integration-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.38.3"

      - name: Install dependencies
        run: flutter pub get

      - name: Run integration tests
        uses: ReactiveCircus/android-emulator-runner@v2
        with:
          api-level: 30
          target: default
          arch: x86_64
          profile: pixel_2
          force-avd-creation: true
          disable-animations: true

          script: flutter test integration_test/festivities_test.dart